<div class="d-flex justify-content-center">
  <div *ngFor="let element of itemsList; let i =index" class="boardItem" droppable [dragOverClass]="'drag-target-border'" [dropScope]="'candidates'" draggable="true" (onDrop)="onDropElement($event, element.status)">
    <div class="itemHeader">
      <i class="fa fa-circle" aria-hidden="true"
      [class.circleColor1] = "i==0"
      [class.circleColor2] = "i==1"
      [class.circleColor3] = "i==2"
      [class.circleColor4] = "i==3"
      [class.circleColor5] = "i==4"
      [class.circleColor6] = "i==5"
      ></i>
      <label class="itemlabel">{{element.title}}</label>
      <input class="itemlabel" *ngIf="false" [(ngModel)]="element.title" />
      <label class="labelNumber">({{ element.candidates.length }})</label>
      <div class="itemActions">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </div>
    </div>
    <div class="dashboardItem">
      <app-candidate-card *ngFor="let cand of element.candidates" [Item]="cand" [candidateName]="cand.name" [candidateCurrentTitle]="'Senior Designer'"
        [candidateLocaion]="'Atlanta, GA'" [candidateCurrentJob]="'SeniorDesinger(5 yrs, 1 mo)'" [candidateCurrentEmployer]="'Google'"
        [candidatePriorJob]="'Designer(3 yrs, 4 mo)'" [candidatePriorEmployer]="'CareerBuilder'"></app-candidate-card>
    </div>
  </div>
</div>
