.boardItem {
  height: 800px;
  min-width: 291px;
  border-radius: 3px;
  background-color: #F6F6F6;
  display: inline-block;
  margin: 20px;
  z-index: 1;
}

.board {
  position: relative;
  width: 1220px;
  left: 0px;
  z-index: 1;
}

.drag-target {
  position: absolute;
  width: 1220px;
  left: 0px;
  z-index: 0;
}

.boardItemShadow {
  height: 800px;
  min-width: 291px;
  border-radius: 3px;
  background-color: #334444;
  display: inline-block;
  margin: 20px;
  opacity: 0;
  z-index: 0;
}

;
.itemHeader {
  padding-left: 18px;
  padding-top: 20px;
}

.itemActions {
  float: right;
  padding-right: 18px;
}

.itemlabel {
  color: #4A4A4A;
  font-family: Lato;
  font-size: 18px;
  line-height: 18px;
  padding-left: 10px;
}

.dashboardItem {
  margin-top: 20px;
  padding: 20px;
  overflow: scroll;
  height: 720px;
}

.dashboardItem /deep/> div {
  margin-bottom: 20px;
}

.labelNumber {
  color: #4A4A4A;
  opacity: 0.5;
}

.circleColor1 {
  color: #673AB7;
  font-size: 10px;
}

.circleColor2 {
  color: #FDB816;
  font-size: 10px;
}

.circleColor3 {
  color: #0195A3;
  font-size: 10px;
}

.circleColor4 {
  color: #09A0DB;
  font-size: 10px;
}

.drag-hint {
  border: #ffc100 dashed 2px;
}

.drag-target-border {
  border: #FFFFFF dashed 2px;
  opacity: 0.5;
}

.drag-target-border-green {
  border: #3c763d dashed 2px;
}

.drag-overShadow {
  border: 5px dashed #3c763d;
  opacity: 0.2;
}

.drag-target-hint-shadow {
  // border: #FFFFFF dashed 2px;
  background-color: #7EAFD5;
  opacity: 1;
}

.toFront {
  z-index: 1;
  left: 0px;
}

.toBack .boardItem {
  opacity: 0.1;
  z-index: 0;
}

.toBack .toFront {
  z-index: 1;
  opacity: 0.4;
}


.noVisible {
  position: absolute;
  left: 0px;
}
