<div class="card" draggable="true">
  <div class="name-location">
    <p class="name font-style1">{{candidateName}}</p>
    <p class="title font-style1">{{candidateCurrentTitle}} </p>
    <p class="location font-style1">{{candidateLocaion}}</p>
  </div>
  <div class="job-info">
    <p class="font-style2"><span class="current-prior">Current: </span><b>{{candidateCurrentJob}}, </b>{{candidateCurrentEmployer}}</p> 
    <p class="font-style2 job-prior"><span class="current-prior">Prior: </span><b>{{candidatePriorJob}}, </b>{{candidatePriorEmployer}}</p>
  </div>
  <div class="line"></div>
  <div class="card-footer">
<i class="fa fa-star-o icons" aria-hidden="true"></i>
  </div>
</div>