<div class="search-square container-fluid">
  <div class="candidates-insight">
    <div class="row">
    <div class="search-font1">Insights on your candidates</div>
    <div class="search-font2">We have analyzed your candidates and found some commonalities to help you find the right candidate faster.</div>
  </div>
  </div>
  <div class="insight-cards row">
    <app-insight-card [text]="'Conflict Resolution'" [count]="'5'"></app-insight-card>
    <app-insight-card [text]="'Hospitality'" [count]="'13'"></app-insight-card>
    <app-insight-card [text]="'Supervisor'" [count]="'6'"></app-insight-card>
    <app-insight-card [text]="'3-5 years of experience'" [count]="'2'"></app-insight-card>
  </div>
  <div><input type="text" class="search-text" placeholder="Search...">
    <i class="fa fa-search placeholder-icon"></i>
  </div>
    <div class="container">
      <div class="row">
          <div class="col-sm-*"><label class="filters locations">Location<i class="fa fa-caret-down"></i></label></div>
          <div class="col-sm-*"><label class="filters job-categories">Job Categories<i class="fa fa-caret-down"></i></label></div>
          <div class="col-sm-*"><label class="filters skills">Skills<i class="fa fa-caret-down"></i></label></div>
          <div class="col-sm-*"><label class="filters university">University<i class="fa fa-caret-down"></i></label></div>
          <div class="col-sm-*"><label class="filters degree">Degree<i class="fa fa-caret-down"></i></label></div>
          <div class="col-sm-*"><a href="" class="filters expand-filters">Expand All Filters<i class="fa fa-caret-down"></i></a></div>
      </div>
    </div>
</div>