.stage-column {	
    height: 897.99px;	
    width: 291px;	
    opacity: 0.5;	
    border-radius: 3px;	
    background-color: #F6F6F6;
}

.stage-title {	
    height: 18px;	
    width: 190px;	
    color: #4A4A4A;	
    font-family: Lato;	
    font-size: 18px;	
    line-height: 18px;
}