<div class="tabs">
  <tabset>
    <div class="tabs-active">
      <tab class="tabs-active" heading="All Candidates">
        <template tabHeading> <i class="tabs-counter"> 24</i></template>
      </tab>
    </div>
    <div class="tab-hightlight"></div>
    <tab class="tabs-inactive" heading="New Last 30 Days">
      <template tabHeading> <i class="tabs-counter"> 4</i></template>
    </tab>
    <tab class="tabs-inactive" heading="Active Last 30 Days">
      <template tabHeading> <i class="tabs-counter"> 15</i></template></tab>    
  </tabset>
</div>
<div class="divider-tab"></div>