.sub-header {
     height: 42px;	
    width: 1250px;
    margin-top: 36px;
}

.search {
    background-color: white;
    height: 179px;
    width: 1250px;	
    border: 1px solid #E9E9E9;
    border-radius: 3px;	
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
    margin-top: 30px;
}

.panel {
    height: 1692px;	
    width: 1250px;
    background-color: rgba(233,233,233,1);
    margin-top: 33px;
}

.column {
	height: 897.99px;	
    width: 291px;	
    opacity: 1;	
    border-radius: 3px;	
    background-color: #F6F6F6;
    margin-left: 29px;
}

.body {
    background-color: rgba(233,233,233,1);
}
